<header class="st-header q-pa-sm">
    <h1 draggable="true" class="st-header__title text-h3">Neural network training</h1>
</header>
<div class="row st-col ">
    <div class="st-col col-6 col-sm st-module st-col ">
        <h3>Parameters</h3>
        <p>Layer 1 neurons</p><q-slider :min=1 v-model="layer_neurons[2]" label :max=64 :step=1></q-slider>
        <p>Layer 2 neurons</p><q-slider :min=1 v-model="layer_neurons[3]" label :max=64 :step=1></q-slider>
        <p>Train samples</p><q-slider :min=1 v-model="N_train" label :max=500 :step=1></q-slider>
        <p>Epochs</p><q-slider :min=1 v-model="epochs" label :max=1000 :step=1></q-slider><br />
        <div class="row st-col ">
            <div class="st-col col-6 col-sm st-col "><q-btn color="primary" label="TRAIN" v-on:click="train = !train"
                    :loading="training" text-color="black"></q-btn><q-btn color="primary" label="SAVE"
                    v-on:click="save = !save" text-color="black"></q-btn></div>
        </div>
    </div>
    <div class="st-col col-6 col-sm st-module st-col ">
        <plotly :data="traces" :layout="layout" :displaylogo="false"></plotly>
    </div>
</div>
